---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
  
  
  {% comment %}<!-- show posts by related tags when `related: true` -->{% endcomment %}
   {% if page.related %}
     {% assign n_posts = 0 %}
     {% for post in site.posts %}
       {% if post.id == page.id %}{% continue %}{% endif %}
         {% if n_posts == 0 %}
           <div class="page__related">
             {% if site.data.ui-text[site.locale].related_label %}
               <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
             {% endif %}
             <div class="grid__wrapper">
         {% endif %}
         {% include archive-single.html type="grid" %}
         {% assign n_posts = n_posts | plus: 1 %}
         {% break %}
       {% if n_posts > 3 %}{% break %}{% endif %}
     {% endfor %}
     {% if n_posts > 0 %}
         </div>
       </div>
     {% endif %}
   {% endif %}
</div>


